@import './vars.scss';

html,
body {
  font-family: $bodyText;
  font-weight: 300;
}
body {
  font-size: 18px;
  line-height: 1.5;
  color: $red;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $displayText;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 20px 0 0;
}

strong {
  font-weight: 700;
}

a:link, a:active, a:visited {
  color: $blue;
}
a:hover {
  color: $red;
}

a.button:link, a.button:active, a.button:visited {
  transition: background .3s ease;
  background: $blue;
  color: #fff;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 6px;
  text-decoration: none;
}
a.button:hover {
  background: $red;
}

h1,
h2 {
  font-size: 2em  ;
  @media screen and (min-width: $screen-md) {
    font-size: 2.4em  ;
  }
}

h3 {
  font-size: 1.6em;

  @media screen and (min-width: $screen-md) {
    font-size: 1.9em;
  }
}

h4 {
  font-size: 1.2em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.6em;
  }
}

h5 {
  font-size: 1em;
}

p,
.p {
  margin: 1.5em 0;
  line-height: 1.3;
}

.ms-buybox__product-title {
  line-height: 1.1;
}

.msc-product__title {
  line-height: 1.2;
}

h1.container-heading:after,
h2.container-heading:after {
  display: block;
  content: "";
  height: 4px;
  width: 80%;
  
  margin-top: 10px;
}
